@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a:link {
  text-decoration: none;
}

/* Navigation */

.nav-buttons {
  display: flex;
}

.iconify {
  width: 80px;
  height: 80px;
}

.icon-font {
  font-size: 24px;
}

/* Home Page */

.heroBanner {
  min-height: 100vh;
  width: 100% !important;
  position: relative;
  padding-bottom: 80px;
}

.space_heroBanner {
  margin-top: 14rem;
}
.space_heroBanner img {
  border: 2px solid white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.accord-header {
  background-color: #fff;
}

.acc {
  border: none;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
  .nav-buttons {
    flex-direction: column;
  }

  .card-horizontal {
    flex-direction: column;
  }
  .card-horizontal img {
    width: 100%;
  }

  .nav-btn {
    margin-top: 10px;
  }
}
